body {
    background-color: rgb(27, 69, 85);
}
p,h1,h2 {
    color: white
}
li {
    color: white;
}
nav{
    background-color: lightblue;
    text-align: center;
}
.navlinks{
    list-style-type: none;
}
.copyright{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
#Whos{
    font-family: Montserrat, sans-serif;
    text-align: center;
}